@import "../../style/Mixins.scss";

.tabs {
  align-items: center;
  justify-content: space-between;
  @include fluid(padding-bottom, 10px, 15px);
}
.tabsFlex {
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 7px, 10px);
}
.heightContent{
  height: 64vh;
  @include fluid(margin-bottom, 20px, 30px);
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.tabsTab {
  cursor: pointer;
  color: #ff6d50;
  border: 1px solid #ff6d50;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  text-align: center;
  transition: 0.38s ease-in-out;
  margin-right: 5px;
  font-size: 13px;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: #ff6d50;
    color: #ffffff;
  }
}
.tabsTabPremium {
  cursor: pointer;
  color: #ff6d50;
  border: 1px solid #ffd12c;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  text-align: center;
  transition: 0.38s ease-in-out;
  margin-right: 5px;
  font-size: 13px;
  &:hover {
    color: #464646;
  }
}
.activeTab {
  background: #ff6d50;
  color: #ffffff;
}
.activePremium {
  color: #464646;
  background: #ffd12c;
}
.special {
  transition: 0.38s ease-in-out;
  overflow-x: auto;
  height: 100%;
}
.card {
  width: 100%;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3px 8px 2px rgba(222, 222, 222, 0.25);
  border-radius: 12px;
  @include fluid(padding-top, 20px, 22px);
  @include fluid(padding-bottom, 20px, 22px);
  @include fluid(padding-left, 18px, 20px);
  margin-bottom: 15px;
  overflow: hidden;
  z-index: 2;
  cursor:pointer;
}
.cardFlex {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  width: fit-content;
}
.cardIcon {
  width: 57px;
  height: 50px;
  object-fit: contain;
  margin-right: 22px;
}
.cardTitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 9px;
}
.cardType {
  font-size: 12px;
  color: #999;
}

.arrowIcon {
  position: absolute;
  right: 15px;
  bottom: 14px;
  margin-top: 5px;
  background: url("../../assets/img/arrow.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 7px;
  background-size: contain;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 12px;
  height: 12px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;
}
input[type="checkbox"]:checked + span {
  background: #d9534f -19px top no-repeat;
}
.input{
  display: none;
}
.input:checked + label{
  background: #ff6d50;
  color: #ffffff;
}
