@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import "../Style/Mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
button {
  border: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}
.ant-drawer-content-wrapper {
  background: #ffffff;
  border-radius: 10px;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  width: 568px !important;
}
.slide {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fluid(margin-bottom, 10px, 12px);
  height: 25px;
  &__flex {
    display: flex;
    align-items: center;
  }
  &__arrow {
    background: url("../assets/img/headerArrow.svg");
    width: 13px;
    height: 13px;
    margin-right: 12px;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
  }
  &__title {
    font-size: 20px;
    color: #666;
  }
  &__icon {
    background: url("../assets/img/close.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    cursor: pointer;
  }
}
.ant-drawer-body {
  padding: 0;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.arrow {
  position: absolute;
  cursor: pointer;
  content: "";
  right: 0px;
  bottom: 0px;
  background: rgba(74, 198, 255, 0.5);
  background-size: 150% 150%;
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 12px;
  transition: 0.38s ease-in-out;
  z-index: 4;
  &:hover {
    background: rgba(74, 198, 255, 1);
  }
  &--red {
    background: rgba(255, 109, 80, 0.5);
    &:hover {
      background: rgba(255, 109, 80, 1);
      z-index: 4;
    }
  }
  &__icon {
    position: absolute;
    right: 15px;
    bottom: 14px;
    margin-top: 5px;
    background: url("../assets/img/arrow.svg");
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    background-size: contain;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  position: fixed;
  z-index: 10;
  inset: 0px;
  background-color: rgba(196, 196, 196, 0.2) !important;
  backdrop-filter: blur(3px);
  transition: 0.38s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.form__btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background: linear-gradient(90.15deg, #ff981c 0.11%, #ff6d50 99.87%);
  border-radius: 12px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #fff;
  background-size: 100% 100%;
  transition: 0.38s ease-in-out;
  &:hover {
    background-size: 150% 150%;
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
  border: none;
}
.ant-select-selection-item {
  display: flex;
  align-items: center;
  outline: none;
}
.ant-modal {
  width: 387px !important ;
  height: 400px !important;
  border-radius: 20px !important;

  box-shadow: 0px 3px 8px 2px rgba(222, 222, 222, 0.25);
}
.ant-modal-body {
  width: 387px !important ;
  height: 400px !important;
  border-radius: 20px !important;
  padding-left: 25px;
  display: flex;
  padding-right: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ant-modal-content {
  width: 387px !important ;
  height: 400px !important;
  border-radius: 20px !important;
}
.ant-modal-body .modalHelp {
  width: 387px;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img {
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
  }
  &__title {
    font-size: 20px;
    color: #666;
    margin-top: 35px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__text {
    color: #666;
    font-size: 16px;
    margin-bottom: 45px;
    text-align: center;
  }
  &__btn {
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #ff981c 0%, #ff6d50 100%);
    width: 70%;
    padding-top: 17px;
    padding-bottom: 16px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 20px rgba(255, 110, 77, 0.4));
    text-align: center;
    background-size: 100% 100%;
    transition: 0.38s ease-in-out;
    text-transform: uppercase;
    margin-bottom: 23px;
    &:hover {
      background-size: 150% 150%;
    }
  }
  &__close {
    font-size: 14px;
    color: #666;
    cursor: pointer;
  }
}
.ant-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ant-checkbox-wrapper {
  span {
    cursor: pointer;
    color: #ff6d50;
    border: 1px solid #ffd12c;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    text-align: center;
    transition: 0.38s ease-in-out;
    margin-right: 5px;
    font-size: 13px;
    &:hover {
      color: #464646;
    }
  }
}
.ant-checkbox-checked + span {
  color: #464646;
  background: #ffd12c;
}
.comment {
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 3px 8px 2px rgba(222, 222, 222, 0.25);
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 15px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
    &-text {
      font-size: 12px;
      margin-bottom: 3px;
      color: #ff6d50;
    }
    &-name {
      font-size: 14px;
      color: #666;
    }
  }
  &__star {
    display: flex;
    align-items: center;
    &-icon {
      width: 16px;
      height: 16px;
      object-fit: contain;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__text {
    margin-top: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    color: #666;
  }
  &__info {
    display: flex;
    align-items: center;
    color: #666;

    margin-top: 20px;
    justify-content: space-between;
  }
  &__data {
    font-size: 14px;
  }
  &__avtor {
    font-size: 12px;
    font-style: italic;
  }
}
.modal {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
  }
  &__text {
    font-size: 20px;
    color: #666;
  }
  &__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    object-fit: contain;
  }
}
.id1{
  transform: rotate(180deg);
}
.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}
@media screen and (max-width: 576px){
  .ant-drawer-content-wrapper {

    width: 100% !important;
  }
  .slide{
    padding-left: 10px;
    padding-right: 10px;
  }
  .ant-modal{
    margin: 0 auto;
    width: 320px !important;
  }
  .ant-modal-content{
    width: 320px !important;
  }
  .ant-modal-body{
    padding-left: 5px;
    padding-right: 5px;
    width: 320px !important;
  }
}